/bin/
target*
target-eclipse-*
h2db*
*~
zenboot.log
zenboot.log.*
stacktrace.log
zenboot-scripts/internal/scripts/sanity-restcheck/temp
.settings
.project
.classpath
*.iml
*.ipr
*.iws
.idea
.slcache/
out/
lib/
/classes/
